################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/q4sdk/FileContentIndex
/.vs/q4sdk/v17/Browse.VC.opendb
